* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/*Main Index Pagina*/
.maincontainer {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(235, 215, 215, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}

main {
  height: 100%;
}

main .mainbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .mainbox .photo1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 450px;
}
main .mainbox .box {
  margin: 20px;
  display: flex;
}
main .mainbox .textbox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  width: 450px;
}
main .mainbox .box .textbox .buttontext li a {
  height: auto;
  width: 150px;
  color: black;
}
/*Main Home Pagina*/
.homecontainer {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(235, 215, 215, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
  border-bottom: 1px solid black;
}
/*main text*/
.hometextbox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hometextbox .text {
  color: gray;
  opacity: 0.9;
}
.boxes1 {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.boxes {
  background-color: white;
  width: 100%;
  height: auto;
}
.box3text {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.box3 {
  height: auto;
  width: 100%;
}
.box3box {
  padding-left: 100px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  margin-top: 25px;
}
.imgtext {
  display: flex;
  flex-direction: column;
}
.imgtext ul {
  display: flex;
  flex-direction: column;
}
.box3box .box2 {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 250px;
}
.homecontainer main .mainbox .box1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  width: auto;
  display: flex;
  background-color: white;
}
.homecontainer main .mainbox .box2 {
  margin: 10px;
}
/*contact*/
.contactcontainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(246, 176, 176, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}
.maincontactbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .mainbox .photo1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 450px;
}
main .mainbox .box {
  margin: 20px;
  display: flex;
}
main .mainbox .textbox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  width: 450px;
}
main .mainbox .box .textbox .buttontext li a {
  height: auto;
  width: 150px;
  color: black;
}
/*losse pagina voor Youri :)*/
.extracontainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(246, 176, 176, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
  min-height: 100vh;
}
.mainextrabox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainextrabox .box .textbox form {
  display: flex;
  flex-direction: column;
}
.mainextrabox .box .textbox table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
/*Footer*/
.footerblok {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

.footertext {
  background-color: green;
  display: flex;
  flex-direction: column;
}

/*Nav + Buttons*/
.homecontainer header nav {
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  display: inline;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
  font-family: "M PLUS 2", sans-serif;
}
li a:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headername {
  display: flex;
  align-items: center;
}
.listbox {
  display: flex;
  flex-direction: row;
}
/* Borderline tussen kopjes*/
.border {
  border-bottom: 2px solid black;
}
.imgborder {
  border: 4px solid red;
  width: 250px;
  height: 250px;
}
